{% include "@project/modules/header-vip/header-vip.twig" with header %}

{% include "@project/modules/archive-video-header/archive-video-header.twig" with archive_video_header %}

{% include "@project/modules/more-from-video-landing/more-from-video-landing.twig" with more_from_video_landing %}

{% include "@project/modules/video-grid/video-grid.twig" with video_grid %}

{% include "@project/modules/video-landing-pagination/video-landing-pagination.twig" with video_landing_pagination %}

{% include "@project/modules/explore-all-events/explore-all-events.twig" with explore_all_events %}

{% include "@project/modules/footer/footer.twig" with footer %}
