<section class="awards-contenders // {{ awards_contenders_classes }}">
	{% include "@project/modules/streamers-section-header/streamers-section-header.twig" with streamers_section_header %}
	{% include "@project/modules/stories-slider/stories-slider.twig" with stories_slider %}
</section>
