<section class="homepage-tv-film-music-theater // u-margin-tb-125 {{ homepage_tv_film_music_theater_classes }}">
	{% include "@project/modules/homepage-horizontal-row/homepage-horizontal-row.twig" with horizontal_row_data %}
</section>
