<section class="stories-river // lrv-u-flex lrv-u-flex-direction-column {{ stories_river_classes }}">
	{% include "@project/objects/o-sub-heading/o-sub-heading.twig" with o_sub_heading %}

	{% include "@project/objects/o-tease-news-list/o-tease-news-list.twig" with o_tease_news_list %}
</section>
