<div class="static-toaster // a-hidden@desktop-max lrv-u-background-color-white u-box-shadow-menu">
	<div class="lrv-u-flex lrv-u-padding-tb-1 lrv-a-wrapper lrv-u-padding-l-2 u-padding-lr-00@desktop-xl">
		{% include "@larva/objects/o-tease-list/o-tease-list.twig" with o_tease_list %}
		{% include "@project/modules/cxense-widget/cxense-widget.twig" with cxense_static_toaster_widget %}
	</div>
</div>
