.DS_Store

plugins/*
!plugins/tbm-shout-writer-beer
!plugins/tbm-adm
!plugins/brag-observer
!plugins/theme-options
!plugins/tbm-media-helper

languages

!plugins/ssm-ga
plugins/ssm-ga/*
!plugins/ssm-ga/ssm-ga.php
!plugins/tbm-amp
!plugins/s3-uploads

!plugins/pmc-plugins/
plugins/pmc-plugins/*
!plugins/pmc-plugins/pmc-global-functions
!plugins/pmc-plugins/pmc-larva
!plugins/pmc-plugins/pmc-vertical
!plugins/pmc-plugins/pmc-ajax-pagination
!plugins/pmc-plugins/fm-widgets

!plugins/cheezcap

# ignore specific themes
themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
