.DS_Store

plugins/*
!plugins/tbm-shout-writer-beer
!plugins/tbm-adm
!plugins/brag-observer
!plugins/theme-options
!plugins/tbm-media-helper

languages

!plugins/ssm-ga
plugins/ssm-ga/*
!plugins/ssm-ga/ssm-ga.php
!plugins/tbm-amp

!plugins/pmc-plugins/
plugins/pmc-plugins/*
!plugins/pmc-plugins/pmc-global-functions
!plugins/pmc-plugins/pmc-larva
!plugins/pmc-plugins/pmc-vertical
!plugins/pmc-plugins/pmc-ajax-pagination
!plugins/pmc-plugins/fm-widgets

!plugins/pmc-plugins/ig-custom-metaboxes
!plugins/pmc-plugins/pmc-options
!plugins/pmc-plugins/pmc-primary-taxonomy
!plugins/pmc-plugins/pmc-social-share-bar
!plugins/pmc-plugins/pmc-gallery-v4
!plugins/pmc-plugins/pmc-linkcontent
!plugins/pmc-plugins/pmc-field-overrides
!plugins/pmc-plugins/pmc-featured-video-override
!plugins/pmc-plugins/pmc-post-options
!plugins/pmc-plugins/pmc-js-libraries

!plugins/cheezcap

# ignore specific themes
themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
