{% include "@project/modules/header-vip/header-vip.twig" with header %}

{% include "@project/modules/article-header/article-header.twig" with article_header %}

{% include "@project/one-offs/a-content-excerpt/a-content-excerpt.html" %}

{% include "@project/modules/special-report-lock/special-report-lock.twig" with special_report_lock %}

{% include "@project/modules/more-from-widget-article/more-from-widget-article.twig" with more_from_widget %}

{% include "@project/modules/footer/footer.twig" with footer %}
