<div class="issue-item // {{ issue_item_classes }}">
	<a href="{{ issue_item_url }}" class="{{ issue_item_link_classes }}">
		{% include "@larva/components/c-lazy-image/c-lazy-image.twig" with c_lazy_image %}
		{% include "@larva/components/c-span/c-span.twig" with c_span %}
	</a>
</div>
