<div class="vip-banner__outer lrv-u-padding-tb-1@mobile-max {{ vip_banner_outer_classes }}">
	<section class="vip-banner // {{ vip_banner_classes }}">
		{{ homepage_top_stories_ad_action }}
	</section>
</div>
