<div class="more-from // {{ o_more_from_heading_classes }}">
	{% if c_heading %}
		{% include "@larva/components/c-heading/c-heading.twig" with c_heading %}
	{% endif %}

	{% if c_v_icon %}
		{% include "@larva/components/c-icon/c-icon.twig" with c_v_icon %}
	{% endif %}
</div>
