<div class="trending-stories-widget // {{ trending_stories_widget_classes }}">
	{% include "@larva/components/c-title/c-title.twig" with c_title %}
	{% include "@larva/objects/o-tease-list/o-tease-list.twig" with o_tease_list %}
</div>
