<div class="homepage-horizontal-row_wrapper // {{ homepage_horizontal_row_classes }}">
	<div class="homepage-horizontal-row_inner_wrapper // {{ homepage_horizontal_row_inner_classes }}">
		{% include "@project/modules/homepage-vertical-list/homepage-vertical-list.twig" with vertical_list_first %}
		{% include "@project/modules/homepage-vertical-list/homepage-vertical-list.twig" with vertical_list_second %}
		{% include "@project/modules/homepage-vertical-list/homepage-vertical-list.twig" with vertical_list_third %}
		{% include "@project/modules/homepage-vertical-list/homepage-vertical-list.twig" with vertical_list_fourth %}
	</div>
</div>
