<a class="o-topic // {{ o_topic_classes }}" href="{{ o_topic_url }}">
	{% include "@larva/components/c-icon/c-icon.twig" with c_icon %}

	{% include "@larva/components/c-heading/c-heading.twig" with c_heading %}

	{% include "@larva/components/c-tagline/c-tagline.twig" with c_tagline %}
</a>
