<div class="recommended-carousel // lrv-u-width-100p {{ recommended_carousel_wrapper_classes }}">
	{% include "@project/modules/explore-playlists/explore-playlists.twig" with explore_playlists %}
</div>
