<div class="lrv-a-wrapper u-margin-lr-n050@mobile-max">
	<section class="video-carousel // {{ video_carousel_classes }}">
		<div class="video-carousel__header lrv-a-wrapper // {{ video_carousel_header_classes }}">
			{% if o_more_from_heading %}
				{% include "@project/objects/o-more-from-heading/o-more-from-heading.twig" with o_more_from_heading %}
			{% endif %}

			{% if c_heading %}
				{% include "@larva/components/c-heading/c-heading.twig" with c_heading %}
			{% endif %}

			{% include "@project/objects/o-more-link/o-more-link.twig" with view_all_link %}
		</div>

		<div class="video__inner js-Flickity // {{ video_inner_classes }}" data-flickity='{ "initialIndex": "1", "pageDots": false, "wrapAround": true }'>
			{% for item in video_items %}
				<div class="video__item js-Flickity-cell // {{ video_item_classes }}">
					{% include "@project/objects/o-video-card/o-video-card.twig" with item %}
				</div>
			{% endfor %}
		</div>

		{% if o_more_link %}
			<div class="lrv-a-wrapper">
				{% include "@project/objects/o-more-link/o-more-link.twig" with o_more_link %}
			</div>
		{% endif %}
	</section>
</div>
