<div class="article-meta // lrv-u-padding-t-050 {{ article_meta_classes }}">
	<div class="lrv-u-padding-b-025 u-margin-lr-n050@mobile-max">
		{% include "@project/modules/breadcrumbs/breadcrumbs.twig" with breadcrumbs %}
	</div>

	<div class="lrv-u-padding-l-050 lrv-u-padding-b-025">
		{% include "@larva/components/c-timestamp/c-timestamp.twig" with c_timestamp %}
	</div>
</div>
