<div class="video-menu // {{ video_menu_classes }}">
	<div class="video-menu__inner // {{ video_menu_inner_classes }}">
		{% include "@larva/objects/o-nav/o-nav.twig" with o_nav %}

		{% include "@project/objects/o-drop-menu/o-drop-menu.twig" with o_drop_menu %}
	</div>
</div>
