<section class="wth-vy-podcasts // lrv-u-flex lrv-u-flex-direction-column {{ wth_vy_podcasts_classes }}">
	{% include "@project/objects/o-sub-heading/o-sub-heading.twig" with o_sub_heading %}

	{% include "@project/objects/o-tease-list/o-tease-list.twig" with o_tease_list %}
</section>
