<section class="wth_reviews__wrapper // {{ wth_reviews_wrapper_classes }}">
	<div class="wth_reviews // {{ wth_reviews_classes }}">
		{% include "@project/objects/o-sub-heading/o-sub-heading.twig" with o_sub_heading %}

		{% include "@project/objects/o-tease-list/o-tease-list.twig" with o_tease_list %}
	</div>
</section>
