<section class="featured-chart // {{ featured_chart_classes }}">
	<iframe title="Featured Chart" aria-label="Chart" src="{{ featured_chart_iframe_url }}" scrolling="no" frameborder="0" width="100%" height="{{ featured_chart_iframe_height_attr }}"></iframe>

	{% include "@larva/components/c-button/c-button.twig" with c_button %}
</section>
