<div class="featured-video // {{ featured_video_classes }}">
	{% include "@project/objects/o-player/o-player.twig" with o_player %}
	{% include "@project/objects/o-figcaption/o-figcaption.twig" with o_figcaption %}
</div>
