<ul class="o-tease-news-list {{ modifier_class }} {{ o_tease_list_classes }}"
	{% if o_tease_list_id_attr %}
		id="{{ o_tease_list_id_attr }}"
	{% endif %}>
	{% for item in o_tease_list_items %}
		<li class="o-tease-list__item {{ o_tease_list_item_classes }}">
			{% include "@project/objects/o-tease-news/o-tease-news.twig" with item %}
		</li>
	{% endfor %}
</ul>
