<header class="hub-header // {{ hub_header_classes }}">
	<div class="lrv-u-flex lrv-u-flex-direction-column lrv-u-align-items-center">
		{% if c_heading %}
			{% include "@larva/components/c-heading/c-heading.twig" with c_heading %}
		{% endif %}
		{% if c_tagline %}
			{% include "@larva/components/c-tagline/c-tagline.twig" with c_tagline %}
		{% endif %}
	</div>
	<div class="lrv-u-flex lrv-u-width-100p lrv-u-justify-content-center lrv-u-align-items-center lrv-u-flex-direction-column@mobile-max lrv-u-border-t-1 u-border-color-brand-secondary-70 lrv-u-padding-t-075">
		{% if o_sponsored_by %}
			{% include "@larva/objects/o-sponsored-by/o-sponsored-by.twig" with o_sponsored_by %}
		{% endif %}
		{% if c_logo %}
			{% include "@project/components/c-logo/c-logo.twig" with c_logo %}
		{% endif %}
	</div>
</header>
