<section class="most-popular-sidebar // js-LatestNewsButton-WaypointEnd lrv-u-flex-grow-1 lrv-u-flex lrv-u-flex-direction-column u-border-t-6 u-border-color-brand-primary u-box-shadow-menu u-padding-lr-075 lrv-u-background-color-white {{ most_popular_sidebar_classes }}">

	{% include "@project/objects/o-more-from-heading/o-more-from-heading.twig" with o_more_from_heading %}

	<div class="lrv-u-overflow-auto lrv-a-glue-parent lrv-u-height-100p u-min-height-300 u-min-height-265@tablet lrv-u-margin-b-1">
		<div class="lrv-a-glue@tablet lrv-u-width-100p u-padding-r-075">
			{% include "@project/objects/o-tease-list/o-tease-list.twig" with o_tease_list %}
		</div>
	</div>

	{% if cxense_subscribe_widget %}
		{% include "@project/modules/cxense-widget/cxense-widget.twig" with cxense_subscribe_widget %}
	{% endif %}
</section>
