<section class="print-plus-shop-offer-print-header // {{ print_plus_shop_offer_print_header_classes }} ">
	{% include "@larva/components/c-span/c-span.twig" with c_span_heading %}
	{% include "@larva/components/c-span/c-span.twig" with c_span_subheading %}
</section>
