<section class="u-background-color-picked-bluewood lrv-u-text-align-center lrv-u-padding-t-1 lrv-u-padding-b-2 lrv-u-color-white">
	<div class="u-max-width-500 lrv-u-margin-lr-auto lrv-u-padding-lr-1 u-padding-tb-4">
		{% if c_heading %}
			{% include "@larva/components/c-heading/c-heading.twig" with c_heading %}
		{% endif %}

		{% if c_title %}
			{% include "@larva/components/c-title/c-title.twig" with c_title %}
		{% endif %}

		{% if c_tagline %}
			{% include "@larva/components/c-tagline/c-tagline.twig" with c_tagline %}
		{% endif %}

		{% if c_button %}
			{% include "@larva/components/c-button/c-button.twig" with c_button %}
		{% endif %}
	</div>
</section>
