<div class="lrv-a-glue-parent">
	<div class="wide-video__background // {{ big_video_background_classes }}"></div>

	<div class="big-video__video // {{ big_video_video_classes }}">
		{% include "@project/objects/o-video-card/o-video-card.twig" with o_video_card %}
	</div>
</div>
