<div class="login-actions // {{ loginactions_classes }} lrv-u-flex lrv-u-align-items-center lrv-u-margin-r-050">
	<div class="js-LoginStatus--hide-when-authenticated">
		<div class="lrv-u-flex">
			<div class="lrv-u-flex">
				{% include "@project/modules/cxense-widget/cxense-widget.twig" with cxense_header_subscribe_widget %}
			</div>
		</div>
	</div>

	<div class="{{ header_login_wrapper_classes }}">
		{% include "@project/objects/o-drop-menu-login/o-drop-menu-login.twig" with o_drop_menu %}
	</div>
</div>
