<div class="lrv-a-wrapper">
	<section class="short-form-landing // {{ short_form_landing_classes }}">
		{% include "@project/modules/trending-topics/trending-topics.twig" with trending_topics %}

		{% include "@project/modules/more-from-widget/more-from-widget.twig" with more_from_widget %}
	</section>
</div>
