<section class="cxense-widget // {{ cxense_widget_classes }}">
	<div class="cxense-widget-div lrv-u-width-100p lrv-u-height-100p"  id="{{ cxense_id_attr }}" data-widget_id="{{ cxense_widget_id_attr }}"></div>
</section>
