<section class="homepage-awards // u-margin-t-125 {{ homepage_awards_classes }}">
	<div class="homepage-awards__curation-and-list // lrv-u-height-1010p {{ homepage_awards_classes }}">
		{% include "@project/modules/homepage-horizontal-block/homepage-horizontal-block.twig" with awards_curated %}
	</div>
</section>
