<div id="main-wrapper">

{% include "@project/modules/header-vip/header-vip.twig" with header %}

{% include "@project/modules/article-video-header/article-video-header.twig" with article_video_header %}

{% include "@project/one-offs/a-content/a-content.html" with a_content %}

{% include "@project/modules/article-link/article-link.twig" with article_link %}

{% include "@project/modules/more-from-widget-article/more-from-widget-article.twig" with more_from_widget %}

{% include "@project/modules/footer/footer.twig" with footer %}

</div>
