<section class="homepage-vip-tv // lrv-u-height-100p {{ homepage_vip_tv_classes }}">
	{% include "@project/modules/vip-curated/vip-curated.twig" with vip_curated %}

	{% include "@project/modules/homepage-vertical-list/homepage-vertical-list.twig" with homepage_vertical_list %}
</section>
