<section class="homepage-artisans-tech-exposure-politics-list // u-margin-tb-125 {{ homepage_artisans_tech_exposure_politics_classes }}">
	{% include "@project/modules/homepage-horizontal-row/homepage-horizontal-row.twig" with horizontal_row %}
</section>
