{% if c_link %}
	<div class="lrv-u-flex lrv-u-align-items-center lrv-u-margin-lr-auto lrv-u-margin-t-050 u-margin-t-075@tablet lrv-u-margin-b-050@mobile-max u-max-width-618">
		{% include "@larva/components/c-link/c-link.twig" with c_link %}
	</div>
{% endif %}
