<div class="article-pagination // {{ article_pagination_classes }} lrv-u-padding-tb-2">

	<div class="lrv-u-text-align-center">
		{% include "@larva/components/c-tagline/c-tagline.twig" with c_tagline %}
	</div>

	{% include "@project/modules/more-stories-button/more-stories-button.twig" with more_stories_button %}
</div>
