<div class="view-full-extended // {{ view_full_extended_classes }}">
		{% include "@larva/components/c-link/c-link.twig" with c_link_mobile %}
		{% include "@larva/components/c-link/c-link.twig" with c_link %}
</div>
