<section class="vip-takeaways // {{ vip_takeaways_classes }}">
	{% include "@larva/components/c-heading/c-heading.twig" with c_heading %}
	{% include "@project/objects/o-checks-list/o-checks-list.twig" with o_checks_list %}
	<div class="takeaway-border">
		<span class="arrow-down"></span>
	</div>
</section>
