<div class="o-top-story // {{ o_top_story_classes }}">
	{% include "@larva/components/c-lazy-image/c-lazy-image.twig" with c_lazy_image %}

	<div class="o-top-story__inner // {{ o_top_story_inner_classes }}">
		{% include "@project/objects/o-indicator/o-indicator.twig" with o_indicator %}

		{% include "@larva/components/c-title/c-title.twig" with c_title %}

		{% include "@larva/components/c-dek/c-dek.twig" with c_dek %}
	</div>
</div>
