<section class="homepage-vip // u-margin-t-125 {{ homepage_vip_classes }}">
	<div class="homepage-vip__curation-and-list // lrv-u-height-1010p {{ homepage_vip_classes }}">
		{% include "@project/modules/homepage-horizontal-block/homepage-horizontal-block.twig" with vip_curated %}
	</div>
</section>
