{% include "@project/modules/header-vip/header-vip.twig" with header %}

{% include "@project/modules/special-report-landing-top/special-report-landing-top.twig" with special_report_landing_top %}

{% include "@project/modules/special-report-landing-heading/special-report-landing-heading.twig" with special_report_landing_heading %}

{% include "@project/modules/special-report-landing-grid/special-report-landing-grid.twig" with special_report_landing_grid %}

{% include "@project/modules/special-report-landing-pagination/special-report-landing-pagination.twig" with special_report_landing_pagination %}

{% include "@project/modules/footer/footer.twig" with footer %}
