<section class="lrv-u-text-align-center">

	<div>
		<h2 class="lrv-u-font-family-secondary lrv-u-font-weight-bold lrv-u-font-size-32 lrv-u-text-transform-uppercase lrv-u-padding-tb-2 lrv-u-line-height-small">
			Corporate Subscriptions
		</h2>
	</div>

	<div class="u-padding-lr-3@tablet lrv-u-font-family-secondary">

		<div class="lrv-a-wrapper lrv-u-background-color-white u-border-t-6@tablet lrv-u-border-color-brand-primary lrv-u-padding-tb-2 lrv-u-margin-b-2 u-box-shadow-small-medium@tablet">

			{% if print_plus_corporate_subscriptions_submission_text %}

				<div class="lrv-u-padding-b-2">
					{{ print_plus_corporate_subscriptions_submission_text }}
				</div>

			{% else %}

				<div class="lrv-a-grid lrv-a-cols3@desktop lrv-u-align-items-center u-margin-lr-075@mobile-max u-margin-lr-3">
					<div class="lrv-a-span2@tablet">
						<div class="lrv-u-text-transform-uppercase lrv-u-margin-tb-1 lrv-u-font-weight-bold lrv-u-font-size-18">
							Order Discounted Corporate Group Subscriptions Today!
						</div>

						<div>
							If there are five or more subscribers at your company,<br>
							the benefits of a Corporate Group Subscription include:
						</div>

						<div class="lrv-u-text-align-left lrv-u-font-size-15 lrv-u-margin-t-2 lrv-u-margin-t-1@mobile-max">
							<div class="lrv-u-font-weight-bold lrv-u-text-transform-uppercase lrv-u-margin-t-1">
								Better Pricing
							</div>
							Subscription prices go down as the number of subscriptions increase.

							<div class="lrv-u-font-weight-bold lrv-u-text-transform-uppercase lrv-u-margin-t-1">
								Fewer Notices
							</div>
							All subscriptions are grouped together on renewals and invoices, to cut down on the amount of mail you receive from us.



							<div class="lrv-u-font-weight-bold lrv-u-text-transform-uppercase lrv-u-margin-t-1">
								Corporate Group Discounts are offered on all of our products
							</div>
							Variety Print Plus (print + digital), Variety Print Plus (digital only), Variety Basic.
						</div>
					</div>

					<div class="lrv-u-font-size-15 u-border-l-1@desktop lrv-u-border-color-grey-light u-padding-l-3@desktop u-margin-l-3@desktop lrv-u-margin-t-2@mobile-max lrv-u-text-align-left">
						For more information on a Variety Corporate Group Subscription, please fill out the form below and we will contact you shortly.

						<div class="lrv-u-border-b-1 lrv-u-border-color u-border-r-1 lrv-u-border-color-grey-light lrv-u-margin-t-2">
							<input
								class="a-reset-input a-placeholder-color-pale-sky-2 lrv-u-border-a-0 lrv-u-width-100p lrv-u-padding-lr-050 lrv-u-padding-tb-025 lrv-u-font-size-16"
								type="text"
								required="required"
								name="vcsCompanyName"
								placeholder="Company Name"
							>
						</div>

						<div class="lrv-u-border-b-1 lrv-u-border-color u-border-r-1 lrv-u-border-color-grey-light lrv-u-margin-t-2">
							<input
								class="a-reset-input a-placeholder-color-pale-sky-2 lrv-u-border-a-0 lrv-u-width-100p lrv-u-padding-lr-050 lrv-u-padding-tb-025 lrv-u-font-size-16"
								type="text"
								required="required"
								name="vcsNumberOfEmployees"
								placeholder="Number of Emplyoees"
							>
						</div>

						<div class="lrv-u-border-b-1 lrv-u-border-color u-border-r-1 lrv-u-border-color-grey-light lrv-u-margin-t-2">
							<input
								class="a-reset-input a-placeholder-color-pale-sky-2 lrv-u-border-a-0 lrv-u-width-100p lrv-u-padding-lr-050 lrv-u-padding-tb-025 lrv-u-font-size-16"
								type="text"
								required="required"
								name="vcsFirstName"
								placeholder="First Name"
							>
						</div>

						<div class="lrv-u-border-b-1 lrv-u-border-color u-border-r-1 lrv-u-border-color-grey-light lrv-u-margin-t-2">
							<input
								class="a-reset-input a-placeholder-color-pale-sky-2 lrv-u-border-a-0 lrv-u-width-100p lrv-u-padding-lr-050 lrv-u-padding-tb-025 lrv-u-font-size-16"
								type="text"
								required="required"
								name="vcsLastName"
								placeholder="Last Name"
							>
						</div>

						<div class="lrv-u-border-b-1 lrv-u-border-color u-border-r-1 lrv-u-border-color-grey-light lrv-u-margin-t-2">
							<input
								class="a-reset-input a-placeholder-color-pale-sky-2 lrv-u-border-a-0 lrv-u-width-100p lrv-u-padding-lr-050 lrv-u-padding-tb-025 lrv-u-font-size-16"
								type="text"
								required="required"
								name="vcsPhoneNumber"
								placeholder="Phone Number"
							>
						</div>

						<div class="lrv-u-border-b-1 lrv-u-border-color u-border-r-1 lrv-u-border-color-grey-light lrv-u-margin-t-2">
							<input
								class="a-reset-input a-placeholder-color-pale-sky-2 lrv-u-border-a-0 lrv-u-width-100p lrv-u-padding-lr-050 lrv-u-padding-tb-025 lrv-u-font-size-16"
								type="text"
								required="required"
								name="vcsEmailAddress"
								placeholder="Email Address"
								pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
							>
						</div>

						<div class="lrv-u-border-b-1 lrv-u-border-color u-border-r-1 lrv-u-border-color-grey-light lrv-u-margin-t-2">
							<textarea
								class="lrv-u-font-family-secondary a-reset-input a-placeholder-color-pale-sky-2 lrv-u-border-a-0 lrv-u-width-100p lrv-u-padding-lr-050 lrv-u-padding-tb-025 lrv-u-font-size-16"
								required="required"
								name="vcsHelpText"
								placeholder="How can we help you?"
							></textarea>
						</div>

						<input  type="text" name="print-plus-subscription-check" class="lrv-u-display-none" autocomplete="off" />

						<input
							class="lrv-u-border-a-0 lrv-u-color-white lrv-u-cursor-pointer lrv-u-font-size-18 lrv-u-margin-t-2 lrv-u-padding-a-050 lrv-u-width-100p u-background-color-pale-sky lrv-u-font-weight-bold"
							type="submit"
							name="vcsSubmit"
							value="Submit"
						>

					</div>
				</div>

			{% endif %}

		</div>
	</div>

</section>
