<div class="vip-header-navbar // {{ navbar_menu_classes }}">
	<div class="lrv-u-flex lrv-u-justify-content-space-between lrv-u-flex-grow-1">
		<div class="lrv-u-flex lrv-u-align-items-center lrv-u-height-auto">
			<!-- To mimic logo header without adding static padding/margin -->
			<div class="u-width-76 u-width-90@tablet lrv-u-display-inline-block u-background-color-brand-accent-100-b a-hidden@mobile-max u-padding-lr-075@tablet u-width-115@tablet lrv-u-height-100p lrv-a-floated-left">
				&nbsp;
			</div>
			{% include "@larva/objects/o-nav/o-nav.twig" with o_nav %}
		</div>
		<div id="cx-header-email"></div>
	</div>
</div>
