<div class="streamers-section-header // {{ streamers_section_header_classes }}">
	<div class="{{ streamers_section_header_wrapper_classes }}">
		{% include "@larva/components/c-heading/c-heading.twig" with c_heading %}
		{% include "@larva/components/c-tagline/c-tagline.twig" with c_tagline %}
	</div>
</div>
