<div class="homepage-latest-news // lrv-a-wrapper lrv-u-flex@tablet u-margin-t-125">

	<div class="lrv-u-width-100p">
		{% include "@project/modules/latest-news-river/latest-news-river.twig" with latest_news_river %}
	</div>

	<div class="u-width-320@tablet lrv-u-flex-shrink-0 u-padding-l-1@tablet">
		{% include "@project/modules/homepage-vertical-list/homepage-vertical-list.twig" with homepage_vertical_list %}
	</div>
</div>
