<section class="homepage-music-theater-awards // u-margin-t-125 {{ homepage_music_theater_awards_classes }}">

	{% include "@project/modules/homepage-vertical-list/homepage-vertical-list.twig" with music_vertical_list %}

	{% include "@project/modules/homepage-vertical-list/homepage-vertical-list.twig" with theater_vertical_list %}

	{% include "@project/modules/vip-curated/vip-curated.twig" with awards_curated %}
</section>
